<div class="container" style="margin-top: 10%;"><div class="row"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95871.4884565571!2d19.747782553974766!3d41.33096097018661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1350310470fac5db%3A0x40092af10653720!2zVGlyYW7DqywgU2hxaXDDq3JpYQ!5e0!3m2!1ssq!2s!4v1595278582133!5m2!1ssq!2s" width="1260" height="410" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div></div>
    <div class="contactformhome1">
    <header id="contactformi" class="header">

        <h1 id="title" class="text-center"> RESERVATION</h1>
        <p id="description" class="degitscription text-center">

        </p>
    </header>
    <div class="container">
        <div id="contactform" class="row">

        </div>
        <div class="row">
            <div class="col-md-6">
                <form id="survey-form" style="height: 100%;">
                    <div class="form-group">
                        <label id="name-label" for="name">Name</label>
                        <input
                                type="text"
                                name="name"
                                id="name"
                                class="form-control"
                                placeholder="Enter your name"
                                required
                        />
                    </div>
                    <div class="form-group">
                        <label id="email-label" for="email">Email</label>
                        <input
                                type="email"
                                name="email"
                                id="email"
                                class="form-control"
                                placeholder="Enter your Email"
                                required
                        />
                    </div>
                    <div class="form-group">
                        <p>Select Date & Time</p>
                        <input type="date" id="birthday" name="birthday">
                        <span style="margin-left: 5%;">

                        <input type="time" id="appt" name="appt"> </span>
                    </div>

                    <div class="form-group">
                        <p>How many of you are dining?</p>
                        <select id="dropdown" name="role" class="form-control" required>
                            <option disabled selected value>Select group size</option>
                            <option value="individual">Individual (one person)</option>
                            <option value="couple">Couple</option>
                            <option value="smallgroup">Small Group (3-4 people)</option>
                            <option value="largegroup">Large Group (more than 4 people)</option>
                            <option value="prefernot">Prefer Not to say</option>
                        </select>
                    </div>


                </form></div>
            <div class="col-md-6">
                <form id="survey-form">
                    <div class="form-group">
                        <p>
                            What is your favorite feature of our restaurant?
                        </p>
                        <select id="most-like" name="mostLike" class="form-control" required>
                            <option disabled selected value>Select an option</option>
                            <option value="food">Food</option>
                            <option value="ambience">Ambience</option>
                            <option value="service">Service</option>
                            <option value="menu">Menu</option>
                            <option value="prices">Prices&Offers</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <p>
                            What would you like to see improved?
                            <span class="clue">(Check all that apply)</span>
                        </p>

                        <label
                        ><input
                                name="prefer"
                                value="Food"
                                type="checkbox"
                                class="input-checkbox"
                        />Food</label
                        >
                        <label>
                            <input
                                    name="prefer"
                                    value="Ambience"
                                    type="checkbox"
                                    class="input-checkbox"
                            />Ambience</label
                        >
                        <label
                        ><input
                                name="prefer"
                                value="Service Time"
                                type="checkbox"
                                class="input-checkbox"
                        />Service Time</label
                        >
                        <label
                        ><input
                                name="prefer"
                                value="Service Staff Quality"
                                type="checkbox"
                                class="input-checkbox"
                        />Service Staff Quality</label
                        >
                        <label
                        ><input
                                name="prefer"
                                value="Menu"
                                type="checkbox"
                                class="input-checkbox"
                        />Menu</label
                        >
                        <label
                        ><input
                                name="prefer"
                                value="Prices & Offers"
                                type="checkbox"
                                class="input-checkbox"
                        />Prices & Offers</label
                        >

                    </div>

                    <div class="form-group">
                        <p>Any comments or suggestions?</p>
                        <textarea
                                id="comments"
                                class="input-textarea"
                                name="comment"
                                placeholder="Enter your comment here..."
                        ></textarea>
                    </div>

                    <div class="form-group">
                        <button type="submit" id="submit" class="submit-button">
                            Submit
                        </button>
                    </div> </form>
            </div>

        </div>  </div>

</div>
