
    <div class="sectionn" id="carousel">
        <div class="slide-about">
            <div class="col-md-12 mr-auto ml-auto">
                <div id="slideaboutt" class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="../../../assets/img/slide1.png" />
                            <div class="carousel-caption">

                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/slide2.jpg" alt="Random second slide">
                            <div class="carousel-caption">

                            </div>
                        </ng-template>
                        <ng-template ngbSlide><img src="../../../assets/img/aboutok.jpg"/>

                            <div class="carousel-caption">

                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>

        </div></div>

  
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../../../assets/img/joe.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="titleabout">Maria Smith<br /></h4>
                    <h6 class="description">Co-fouder, chef</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto ">
                    <p class="ml-auto1">Maria Smith is a founder of Cibus and sits on two all-party Parliamentary Groups – A Fit and Healthy Childhood and Healthy Eating In Schools. She has contributed to two major papers covering the need of healthy eating in schools and children generally.

                     </p>
                    <br />
                    <img src="../../../assets/img/signature.png" height="117" width="226"/>

                </div>
            </div></div></div>

<div class="container">
    <div class="section" id="carousel" style="
    margin-top: 0%; ">
        <div class="container">
            <div _ngcontent-gxp-c157="" class="row">
                <div _ngcontent-gxp-c157=""  id="video-karusel"  class="col-md-8" >
                    <div class="about-bg card page-carousel">
                        <img src="../../../assets/img/about1.jpg" />
                    </div>
                </div>

                <div _ngcontent-gxp-c157=""  id="video-karuselv2"  class="col-md-4">
                    <br><br><br><br>
                    <h3>Cibus  is a place for family</h3><br>
                    <p class="frozen" style="color: white;
    text-transform: none;
    font-size: 17px;
    width: 100%;
    text-align: justify;" >The one you’re born into and the one you create around food, love and friendship. Our attentive staff ensures that your entire dining experience with us is stellar from beginning to end.</p><br>
                </div>
            </div>
        </div>
    </div></div>
<div class="container">
    <div class="section" id="carousel" style="
    margin-top: 0%;">
        <div class="container">
            <div _ngcontent-gxp-c157="" class="row">
                <div _ngcontent-gxp-c157=""  id="video-karuselv2"  class="col-md-4">
                    <br><br><br><br>
                    <h3>Every dish at Cibus has it's own story</h3><br>
                    <p class="frozen" style="color: white;
    text-transform: none;
    font-size: 17px;
    width: 100%;
    text-align: justify;" >Whether part of a party of fifty or a party of two, your experience throughout our elegant, yet comfortable space is eventful. We are sharing our long held Lebanese-Mediterranean traditions with a modern contemporary twist. You will feel both close to home and apart of something new.</p><br>
                </div>

                <div _ngcontent-gxp-c157=""  id="video-karusel"  class="col-md-8">
                    <div class="about-bg card page-carousel">
                        <img src="../../../assets/img/about2.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div></div>
<div class="container">
    <div class="section" id="carousel" style="
    margin-top: 0%;">
        <div class="container">
            <div _ngcontent-gxp-c157="" class="row">
                <div _ngcontent-gxp-c157=""  id="video-karusel"  class="col-md-8" >
                    <div class=" about-bg card page-carousel">
                        <img src="../../../assets/img/about.jpg" />
                    </div>
                </div>
                <div _ngcontent-gxp-c157=""  id="video-karuselv3"  class="col-md-4">
                    <br><br><br><br>
                    <h3>Every dish at Cibus has it's own story</h3><br>
                    <p class="frozen" style="color: white;
    text-transform: none;
    font-size: 17px;
    width: 100%;
    text-align: justify;" > From the traditional recipes direct from Lebanon, to modern updates that tell the history of our team, of our cooks and chefs who have left their mark on our kitchen, and our serving staff and managers who have been ambassadors of hospitality.

                        Our menu is never done - we find inspiration all around, in new ingredients, new approaches, and fresh takes on old standards.</p><br>
                </div>

            </div>
        </div>
    </div></div>





