
    <div class="sectionn" id="carousel">
        <div class="slide-about">
            <div class="col-md-12 mr-auto ml-auto">
                <div id="slideaboutt" class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="../../../assets/img/slide1.jpg" height="417" width="1226"/>
                            <div class="carousel-caption">

                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/slide2.jpg" alt="Random second slide">
                            <div class="carousel-caption">

                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                            <div class="carousel-caption">

                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>

        </div></div>

  
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../../../assets/img/joe.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="titleabout">Jane Smith<br /></h4>
                    <h6 class="description">Co-fouder, chef</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p class="ml-auto1">Jane Smith is a founder of Cibus and sits on two all-party Parliamentary Groups – A Fit and Healthy Childhood and Healthy Eating In Schools. She has contributed to two major papers covering the need of healthy eating in schools and children generally.

                        Jane Smith is at the front line of what changes are coming into the sector and therefore can anticipate them in our dishes. Already, all of our dishes mean that the kitchens that use them will already be 2017 compliant, with no changes necesssary. </p>
                    <br />

                </div>
            </div></div></div>

<div class="about-logo" >
    <p>live healthy. eat FRESH. enjoy life.</p>
    <h1 >About Us</h1>
</div>

<div class="container">
    <div class="section" id="carousel" style="
    margin-top: 0%; ">
        <div class="container">
            <div _ngcontent-gxp-c157="" class="row">
                <div _ngcontent-gxp-c157=""  id="video-karusel"  class="col-md-8" style="max-width: 60%;
    margin-top: 5%;">
                    <div class="card page-carousel">
                        <img src="../../../assets/img/about1.jpg" height="420px" width="100%"/>
                    </div>
                </div>

                <div _ngcontent-gxp-c157=""  id="video-karuselv2"  class="col-md-4">
                    <br><br><br><br>
                    <p class="frozen" style="color: #2d2929;
    font-family: cursive;
    text-transform: none;
    font-size: 17px;
    margin-top: -12%;
    width: 100%;
    text-align: justify;" >Cibus  is a place for family, the one you’re born into and the one you create around food, love and friendship. Our attentive staff ensures that your entire dining experience with us is stellar from beginning to end.</p><br>
                </div>
            </div>
        </div>
    </div><img class="w-100 z--2" src="../../../assets/img/ndarese.png" style="
    z-index: 99;

"></div>
<div class="container">
    <div class="section" id="carousel" style="
    margin-top: 0%;">
        <div class="container">
            <div _ngcontent-gxp-c157="" class="row">
                <div _ngcontent-gxp-c157=""  id="video-karuselv2"  class="col-md-4">
                    <br><br><br><br>
                    <p class="frozen" style="color: #2d2929;
    font-family: cursive;
    text-transform: none;
    font-size: 17px;
    margin-top: -12%;
    width: 100%;
    text-align: justify;" >Whether part of a party of fifty or a party of two, your experience throughout our elegant, yet comfortable space is eventful. We are sharing our long held Lebanese-Mediterranean traditions with a modern contemporary twist. You will feel both close to home and apart of something new.</p><br>
                </div>

                <div _ngcontent-gxp-c157=""  id="video-karusel"  class="col-md-8"  style="max-width: 60%;
    margin-top: 5%;">
                    <div class="card page-carousel">
                        <img src="../../../assets/img/about2.jpg" height="420px" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div><img class="w-100 z--2" src="../../../assets/img/ndarese.png" style="
    z-index: 99;

"></div>
<div class="container">
    <div class="section" id="carousel" style="
    margin-top: 0%;">
        <div class="container">
            <div _ngcontent-gxp-c157="" class="row">
                <div _ngcontent-gxp-c157=""  id="video-karusel"  class="col-md-8" style="    max-width: 60%;
    margin-top: 5%;">
                    <div class="card page-carousel">
                        <img src="../../../assets/img/about.jpg" height="420px" width="100%"/>
                    </div>
                </div>
                <div _ngcontent-gxp-c157=""  id="video-karuselv3"  class="col-md-4">
                    <br><br><br><br>
                    <p class="frozen" style="color: #2d2929;
    font-family: cursive;
    text-transform: none;
    font-size: 17px;
    margin-top: -12%;
    width: 100%;
    text-align: justify;" >Every dish at Cibus has it's own story from the traditional recipes direct from Lebanon, to modern updates that tell the history of our team, of our cooks and chefs who have left their mark on our kitchen, and our serving staff and managers who have been ambassadors of hospitality.

                        Our menu is never done - we find inspiration all around, in new ingredients, new approaches, and fresh takes on old standards.</p><br>
                </div>
            </div>
        </div>
    </div></div>





