<div class="section section-buttons">
    <div class="miell"></div>
    <div class="container">
        <div id="carousel">
            <div class="container">
                <div _ngcontent-gxp-c157="" class="container">
                   <div class="salt"></div>

                    <div _ngcontent-gxp-c157=""  id="video-karusel">
                       <h1 style="text-align:center;font-family: Giovale Basic-Bold;">OUR HERITAGE</h1>
                        <h3 style="    text-align: center;
    font-weight: 600;
    font-family: Giovale;
    font-size: 37px;
    margin-top: 2px;
    color: #c63b45;margin-bottom: 5px;">Cibus</h3>
                        <p class="frozen" style=" color: #fff;
    text-transform: none;
    font-size: 16px;
    width: 82%;
    margin: auto;
    text-align: center;
   " ><b>Cibus </b>is the perfect spot for lunch, dinner, or happy hour!<br> <br>Our inviting atmosphere, friendly service, and meticulously prepared meals have kept customers coming back for over 36 years.
           We are obsessed with building a positive, empowering, and supportive culture. We care about every meal and every moment.
                            Walk in the door and you’re in for a great time.
                        </p>
                        <div class="italien"></div>

                        <br>
               </div>
                </div>
            </div></div>
        </div>
    <div class="knife"></div>
    <div class="miell1"></div>
        <div class="home-blok-start-bottom" style="margin-top: 10%;display:none;">
            <div class="row1">
            <div class="col"><a href="#"><img
                    src="../../../assets/img/SIgnature-Dishes-BG4.jpg" height="auto" width="100%" ></a> <div class="centered1">VEGETARIAN CUISINE  DELIVERED TO YOUR DOORSTEP</div></div>
        </div></div>
    <div class="ereza"></div>
    <div class="garlic"></div>
        <div class="container">
        <div class="menu" style="margin-top: 12%;"><h1 class="page-titlee" >Menu</h1>
        <p class="ourfood">Our Food Is Made with Love</p></div>
        <div class="page">
            <div class="page__demo">
                <div class="page__container">
                    <div class="photobox photobox_type3">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/antipasta.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Antipasta</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type3">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/Soups.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Soups</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type3">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/Pasta.png" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Pasta</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type5">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/Seafood.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Seafood</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type5">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/pizza.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Pizza</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type6">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/salad.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Salad</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type8">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/Dessert.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Dessert</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type8">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/Sandwiches.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Sandwiches</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type9">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/drink.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Drinks</span>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>
    <div class="italien"></div>
    <div class="rozmarin"></div>
    <div class="home-blok-start-bottom" style="margin-left: 1%;margin-right: 1%">
            <section class="section-lg bg-default text-center" style=" padding:50px;">
                <div class="row" style=" width: 100%;
    margin-left: 0px;
    margin-right: 0px;">
                  <div class="col-md-6 col-lg-4">
                            <div class="box-icon-classic">
                                <div class="box-icon-inner decorate-triangle"><span class="icon-xl restaurant-icon-30"><img
                                        src="../../../assets/img/xox__17_-removebg-preview.png" height="127" width="127"/></span></div>

                                <div class="box-icon-caption">
                                    <h4 ><a href="#" style="color: #ff3e4b">Friendly Team</a></h4>
                                    <p>Pesto’s staff is polite and courteous. We strive for excellence both in the quality of our food and interaction with you.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="box-icon-classic">
                                <div class="box-icon-inner decorate-circle"><span class="icon-xl restaurant-icon-36"><img
                                        src="../../../assets/img/xox__16_-removebg-preview.png" height="127" width="127"/></span></div>
                                <div class="box-icon-caption">
                                    <h4><a href="#"  style="color: #ff3e4b" >Fresh Food</a></h4>
                                    <p>All our food is freshly prepared on a daily basis ensuring that you receive only the finest cuisine, delicious to taste.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="box-icon-classic">
                                <div class="box-icon-inner decorate-rectangle"><span class="icon-xl restaurant-icon-27"><img
                                        src="../../../assets/img/xox__18_-removebg-preview.png" height="127" width="127"/></span></div>
                                <div class="box-icon-caption">
                                    <h4><a href="#"  style="color: #ff3e4b">Quality Cuisine</a></h4>
                                    <p>We provide a wide variety of quality dishes for our clients so that they could enjoy the best of Italian cusine.</p>
                                </div>
                            </div>
                        </div>
                    </div>

            </section> </div>
    <div class="borzilok"></div>
<div class="recipes">
        <h2 class="section-title text-center"><span>Who's Hungry</span><br>
            <small>Cibus Recipes</small></h2>
    <app-carousel></app-carousel>
</div>
    <div class="contactformhome">
        <header id="contactformi" class="header">

            <h1 id="title" class="text-center"> RESERVATION</h1>
            <p id="description" class="degitscription text-center">
                Thank you for taking the time to help us improve!
            </p>
        </header>
    <div class="container">
        <div id="contactform" class="row">

            </div>
            <div class="row">
            <div class="col-md-6">
            <form id="survey-form">
                <div class="form-group">
                    <label id="name-label" for="name">Name</label>
                    <input
                            type="text"
                            name="name"
                            id="name"
                            class="form-control"
                            placeholder="Enter your name"
                            required
                    />
                </div>
                <div class="form-group">
                    <label id="email-label" for="email">Email</label>
                    <input
                            type="email"
                            name="email"
                            id="email"
                            class="form-control"
                            placeholder="Enter your Email"
                            required
                    />
                </div>
                <div class="form-group">
                    <label id="number-label" for="number"
                    >Age<span class="clue">(optional)</span></label
                    >
                    <input
                            type="number"
                            name="age"
                            id="number"
                            min="10"
                            max="99"
                            class="form-control"
                            placeholder="Age"
                    />
                </div>
                <div class="form-group">
                    <p>How many of you are dining?</p>
                    <select id="dropdown" name="role" class="form-control" required>
                        <option disabled selected value>Select group size</option>
                        <option value="individual">Individual (one person)</option>
                        <option value="couple">Couple</option>
                        <option value="smallgroup">Small Group (3-4 people)</option>
                        <option value="largegroup">Large Group (more than 4 people)</option>
                        <option value="prefernot">Prefer Not to say</option>
                    </select>
                </div>

                <div class="form-group">
                    <p>Would you recommend our restaurant to a friend?</p>
                    <label>
                        <input
                                name="user-recommend"
                                value="definitely"
                                type="radio"
                                class="input-radio"
                                checked
                        />Definitely</label
                    >
                    <label>
                        <input
                                name="user-recommend"
                                value="maybe"
                                type="radio"
                                class="input-radio"
                        />Maybe</label
                    >

                    <label
                    ><input
                            name="user-recommend"
                            value="not-sure"
                            type="radio"
                            class="input-radio"
                    />Not sure</label>
                </div>
            </form></div>
<div class="col-md-6">
    <form id="survey-form">
                <div class="form-group">
                    <p>
                        What is your favorite feature of our restaurant?
                    </p>
                    <select id="most-like" name="mostLike" class="form-control" required>
                        <option disabled selected value>Select an option</option>
                        <option value="food">Food</option>
                        <option value="ambience">Ambience</option>
                        <option value="service">Service</option>
                        <option value="menu">Menu</option>
                        <option value="prices">Prices&Offers</option>
                    </select>
                </div>

                <div class="form-group">
                    <p>
                        What would you like to see improved?
                        <span class="clue">(Check all that apply)</span>
                    </p>

                    <label
                    ><input
                            name="prefer"
                            value="Food"
                            type="checkbox"
                            class="input-checkbox"
                    />Food</label
                    >
                    <label>
                        <input
                                name="prefer"
                                value="Ambience"
                                type="checkbox"
                                class="input-checkbox"
                        />Ambience</label
                    >
                    <label
                    ><input
                            name="prefer"
                            value="Service Time"
                            type="checkbox"
                            class="input-checkbox"
                    />Service Time</label
                    >
                    <label
                    ><input
                            name="prefer"
                            value="Service Staff Quality"
                            type="checkbox"
                            class="input-checkbox"
                    />Service Staff Quality</label
                    >
                    <label
                    ><input
                            name="prefer"
                            value="Menu"
                            type="checkbox"
                            class="input-checkbox"
                    />Menu</label
                    >
                    <label
                    ><input
                            name="prefer"
                            value="Prices & Offers"
                            type="checkbox"
                            class="input-checkbox"
                    />Prices & Offers</label
                    >

                </div>

                <div class="form-group">
                    <p>Any comments or suggestions?</p>
                    <textarea
                            id="comments"
                            class="input-textarea"
                            name="comment"
                            placeholder="Enter your comment here..."
                    ></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" id="submit" class="submit-button">
                        Submit
                    </button>
                </div> </form>
</div>

            </div>  </div>

    </div>


        </div>

