<div class="section section-buttons">
    <div class="container">
        <div class="section" id="carousel" style="
    margin-top: 0%;">
            <div class="container">
                <div _ngcontent-gxp-c157="" class="row">
                    <div _ngcontent-gxp-c157=""  id="video-karusel"  class="col-md-8">
                        <div class="card page-carousel">
                            <img src="../../../assets/img/cook.jpg" height="420px" width="100%"/>
                        </div>
                    </div>
                    <div _ngcontent-gxp-c157=""  id="video-karusel"  class="col-md-4">
                        <img src="../../../assets/img/logo-cibus.png" height="132"
                             width="auto"/> <br><br><br>
                        <p class="frozen" style="     color: #fff;
    font-family: cursive;
    text-transform: none;
    font-size: 17px;
    margin-top: -12%;
    width: 100%;
    text-align: justify;" >Cibus is the perfect spot for lunch, dinner, or happy hour! Our inviting atmosphere, friendly service, and meticulously prepared meals have kept customers coming back for over 36 years.
                            Cibus can also host banquets and parties at one of our two locations or cater weddings and events throughout Richmond and the surrounding counties..</p><br>
               </div>
                </div>
            </div></div>
        </div>

        <div class="home-blok-start-bottom" style="margin-left: 1%;margin-right: 1%">
            <div class="row">
            <div class="col-sm-12"><a href="#"><img
                    src="../../../assets/img/SIgnature-Dishes-BG4.jpg" height="auto" width="100%" ></a> <div class="centered1">VEGETARIAN CUISINE  DELIVERED TO YOUR DOORSTEP</div></div>
        </div></div>

        <div class="container">
        <div class="menu"><h1 class="page-titlee" >Menu</h1>
        <p class="ourfood">Our Food Is Made with Love</p></div>
        <div class="page">
            <div class="page__demo">
                <div class="page__container">
                    <div class="photobox photobox_type3">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/antipasta.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Antipasta</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type3">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/Soups.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Soups</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type3">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/Pasta.png" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Pasta</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type5">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/Seafood.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Seafood</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type5">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/pizza.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Pizza</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type6">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/salad.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Salad</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type8">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/Dessert.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Dessert</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type8">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/Sandwiches.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Sandwiches</span>
                        </div>
                    </div>
                    <div class="photobox photobox_type9">
                        <div class="photobox__previewbox">
                            <img src="../../../assets/img/drink.jpg" class="photobox__preview" alt="Preview">
                            <span class="photobox__label">Drinks</span>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>

    <div class="home-blok-start-bottom" style="margin-left: 1%;margin-right: 1%">
            <section class="section-lg bg-default text-center" style=" padding:50px;">
                <div class="row">
                  <div class="col-md-6 col-lg-4">
                            <div class="box-icon-classic">
                                <div class="box-icon-inner decorate-triangle"><span class="icon-xl restaurant-icon-30"><img
                                        src="../../../assets/img/xox__17_-removebg-preview.png" height="127" width="127"/></span></div>

                                <div class="box-icon-caption">
                                    <h4 ><a href="#" style="color: #ff3e4b">Friendly Team</a></h4>
                                    <p>Pesto’s staff is polite and courteous. We strive for excellence both in the quality of our food and interaction with you.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="box-icon-classic">
                                <div class="box-icon-inner decorate-circle"><span class="icon-xl restaurant-icon-36"><img
                                        src="../../../assets/img/xox__16_-removebg-preview.png" height="127" width="127"/></span></div>
                                <div class="box-icon-caption">
                                    <h4><a href="#"  style="color: #ff3e4b" >Fresh Food</a></h4>
                                    <p>All our food is freshly prepared on a daily basis ensuring that you receive only the finest cuisine, delicious to taste.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="box-icon-classic">
                                <div class="box-icon-inner decorate-rectangle"><span class="icon-xl restaurant-icon-27"><img
                                        src="../../../assets/img/xox__18_-removebg-preview.png" height="127" width="127"/></span></div>
                                <div class="box-icon-caption">
                                    <h4><a href="#"  style="color: #ff3e4b">Quality Cuisine</a></h4>
                                    <p>We provide a wide variety of quality dishes for our clients so that they could enjoy the best of Italian cusine.</p>
                                </div>
                            </div>
                        </div>
                    </div>

            </section> </div>

        <h2 class="section-title text-center"><span>Who's Hungry</span><br>
            <small>Cibus Recipes</small></h2>

       <div class="container">
        <div id="contactform" class="row">
            <header class="header">
                <h1 id="title" class="text-center">Restaurant Feedback Form</h1>
                <p id="description" class="degitscription text-center">
                    Thank you for taking the time to help us improve!
                </p>
            </header>
            <div class="row">
            <div class="col-md-6">
            <form id="survey-form">
                <div class="form-group">
                    <label id="name-label" for="name">Name</label>
                    <input
                            type="text"
                            name="name"
                            id="name"
                            class="form-control"
                            placeholder="Enter your name"
                            required
                    />
                </div>
                <div class="form-group">
                    <label id="email-label" for="email">Email</label>
                    <input
                            type="email"
                            name="email"
                            id="email"
                            class="form-control"
                            placeholder="Enter your Email"
                            required
                    />
                </div>
                <div class="form-group">
                    <label id="number-label" for="number"
                    >Age<span class="clue">(optional)</span></label
                    >
                    <input
                            type="number"
                            name="age"
                            id="number"
                            min="10"
                            max="99"
                            class="form-control"
                            placeholder="Age"
                    />
                </div>
                <div class="form-group">
                    <p>How many of you are dining?</p>
                    <select id="dropdown" name="role" class="form-control" required>
                        <option disabled selected value>Select group size</option>
                        <option value="individual">Individual (one person)</option>
                        <option value="couple">Couple</option>
                        <option value="smallgroup">Small Group (3-4 people)</option>
                        <option value="largegroup">Large Group (more than 4 people)</option>
                        <option value="prefernot">Prefer Not to say</option>
                    </select>
                </div>

                <div class="form-group">
                    <p>Would you recommend our restaurant to a friend?</p>
                    <label>
                        <input
                                name="user-recommend"
                                value="definitely"
                                type="radio"
                                class="input-radio"
                                checked
                        />Definitely</label
                    >
                    <label>
                        <input
                                name="user-recommend"
                                value="maybe"
                                type="radio"
                                class="input-radio"
                        />Maybe</label
                    >

                    <label
                    ><input
                            name="user-recommend"
                            value="not-sure"
                            type="radio"
                            class="input-radio"
                    />Not sure</label>
                </div>
            </form></div>
<div class="col-md-6">
    <form id="survey-form">
                <div class="form-group">
                    <p>
                        What is your favorite feature of our restaurant?
                    </p>
                    <select id="most-like" name="mostLike" class="form-control" required>
                        <option disabled selected value>Select an option</option>
                        <option value="food">Food</option>
                        <option value="ambience">Ambience</option>
                        <option value="service">Service</option>
                        <option value="menu">Menu</option>
                        <option value="prices">Prices&Offers</option>
                    </select>
                </div>

                <div class="form-group">
                    <p>
                        What would you like to see improved?
                        <span class="clue">(Check all that apply)</span>
                    </p>

                    <label
                    ><input
                            name="prefer"
                            value="Food"
                            type="checkbox"
                            class="input-checkbox"
                    />Food</label
                    >
                    <label>
                        <input
                                name="prefer"
                                value="Ambience"
                                type="checkbox"
                                class="input-checkbox"
                        />Ambience</label
                    >
                    <label
                    ><input
                            name="prefer"
                            value="Service Time"
                            type="checkbox"
                            class="input-checkbox"
                    />Service Time</label
                    >
                    <label
                    ><input
                            name="prefer"
                            value="Service Staff Quality"
                            type="checkbox"
                            class="input-checkbox"
                    />Service Staff Quality</label
                    >
                    <label
                    ><input
                            name="prefer"
                            value="Menu"
                            type="checkbox"
                            class="input-checkbox"
                    />Menu</label
                    >
                    <label
                    ><input
                            name="prefer"
                            value="Prices & Offers"
                            type="checkbox"
                            class="input-checkbox"
                    />Prices & Offers</label
                    >

                </div>

                <div class="form-group">
                    <p>Any comments or suggestions?</p>
                    <textarea
                            id="comments"
                            class="input-textarea"
                            name="comment"
                            placeholder="Enter your comment here..."
                    ></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" id="submit" class="submit-button">
                        Submit
                    </button>
                </div> </form>
</div>

            </div>  </div>

    </div>
    <div class="container">
        <div id="buttons">
            <div class="tim-title">
                <h3>Buttons
                    <br/>
                    <small>Pick your style</small>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-danger">Default</button>
                    <button type="button" class="btn btn-danger btn-round">Round</button>
                    <button type="button" class="btn btn-danger btn-round"><i class="fa fa-heart"></i> With Icon</button>
                    <button type="button" class="btn btn-danger btn-just-icon"><i class="fa fa-heart"></i></button>
                    <button type="button" class="btn btn-danger btn-link">Simple</button>
                </div>
            </div>
            <div class="tim-title">
                <h3><small>Pick your size</small></h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-outline-danger btn-sm">Small</button>
                    <button type="button" class="btn btn-outline-danger">Regular</button>
                    <button type="button" class="btn btn-outline-danger btn-lg">Large</button>
                </div>
            </div>
            <div class="tim-title">
                <h3><small>Pick your color</small></h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-outline-default btn-round">Default</button><button type="button" class="btn btn-outline-primary btn-round">Primary</button>
                    <button type="button" class="btn btn-outline-info btn-round">Info</button>
                    <button type="button" class="btn btn-outline-success btn-round">Success</button>
                    <button type="button" class="btn btn-outline-warning btn-round">Warning</button>
                    <button type="button" class="btn btn-outline-danger btn-round">Danger</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-8">
                    <button type="button" class="btn btn-default btn-round">Default</button>
                    <button type="button" class="btn btn-primary btn-round">Primary</button>
                    <button type="button" class="btn btn-info btn-round">Info</button>
                    <button type="button" class="btn btn-success btn-round">Success</button>
                    <button type="button" class="btn btn-warning btn-round">Warning</button>
                    <button type="button" class="btn btn-danger btn-round">Danger</button>
                </div>
            </div>
        </div>
            <br/>
        <div class="tim-title">
            <h3>Links</h3>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a href="#0" class="btn btn-link btn-default">Default</a>
                <a href="#0" class="btn btn-link btn-primary">Primary</a>
                <a href="#0" class="btn btn-link btn-success">Success</a>
                <a href="#0" class="btn btn-link btn-info">Info</a>
                <a href="#0" class="btn btn-link btn-warning">Warning</a>
                <a href="#0" class="btn btn-link btn-danger">Danger</a>
                <a href="#0" class="btn btn-link btn-neutral">Neutral</a>
            </div>
        </div>
        <br/>
        <div class="tim-title">
            <h3>Inputs</h3>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Default">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group has-success">
                    <input type="text" class="form-control form-control-success" id="inputSuccess1" value="Success">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group has-danger">
                    <input type="text" class="form-control form-control-danger" id="inputDanger1" value="Error">
                    <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false" >
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-group" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Checkboxes</h3>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Unchecked
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="">
                    Checked
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" disabled="">
                    Disabled unchecked
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="" disabled="">
                    Disabled checked
                    <span class="form-check-sign"></span>
                  </label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Radio Buttons</h3>
                </div>
                <div class="form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
                    Radio is off
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked="">
                    Radio is on
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check-radio disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios3" value="option3" disabled="">
                    Disabled Radio is off
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check-radio disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios4" value="option3" checked disabled="">
                    Disabled Radio is on
                    <span class="form-check-sign"></span>
                  </label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Toggle Buttons</h3>
                </div>
                <bSwitch
                    [switch-on-color]="'primary'">
                </bSwitch>
                <bSwitch
                    [switch-on-color]="'primary'"
                    [(ngModel)]="state_default"> Toggle is off
                </bSwitch>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="tim-title">
                    <h3>Sliders</h3>
                </div>
                <nouislider [connect]="false" [min]="0" [max]="100" [step]="1" [(ngModel)]="simpleSlider" [tooltips]="false" class="slider"></nouislider>
                <br>
                <nouislider class="slider slider-info" [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="doubleSlider" [tooltips]="false"></nouislider>
            </div>
        </div>
    </div>
</div>
