<div class="wrapper">
    <div class="grure"></div>
    <div class="piper1"></div>
    <div class="page-header section-dark">
        <div class="filter"></div>
 <div class="content-center" style=" margin-top: 12%;">
            <div class="row">
                <div id="video_overlays"></div>
                <div class="korniza">

               <video id="vid" autoplay loop muted style="
    width: 100vw;
    height: 70vh;
    object-fit: cover;
">
                    <source src="../../assets/img/video/rvb.mp4" type="video/mp4" />
                </video>
                    <div class="spice"></div>
                   </div>

   </div>
        </div>
</div>
    <div class="main">
        <app-basicelements></app-basicelements>


  </div>
</div>
